*{
	borde:0px solid green;*/
}
body{
    border: none;
    height:1000px;
    color:white;
}
marquee{
    background-color:rgb(90, 44, 44);
    color: white;
    height:20px;
    width:100%;
    text-align: center;
    padding-top:5px;
}
#navbar{
    position:sticky;
    top:0px;
    background-color: #fff;
    display:flex;
    height:45px;
    width:90%;
    border-radius:5%;
    margin:auto;
    z-index: 1;
}
#stickynav{
        margin-left: 10px;
        padding-left:30px;  
        height:40px;
        width:70%;
        z-index: 1;
}
header{
    width:30%;
}
img{
    height:200px;
    width:200px;
    position:relative;
    top:-80px;
    left:0px;
}


#topmenu li{
    position:inherit;
    display:inline-block;
    padding-right:50px;
}
li a{
    text-decoration:none;
    color:#000;
}
#content{
    min-height:500px;
    background-image: url("images/woman.jpg");
    background-size:cover;
    background-position:center;
}
#Home{
    color: rgb(219, 142, 155);
}

h1{
    position:relative;
    top:50px;
    left:150px;
    font-weight: lighter;
}
h2{
    position:relative;
    top:100px;
    left:150px;
    font-weight: lighter;
}
.ctoverlay{
    background-color:rgba(0, 0, 0, 0.6);
    min-height:500px;
}
#divA{
    border-radius:100%;
    min-height:40px;
    width:40px;
    background-color: rgb(219, 142, 155);
    position:absolute;
    top:240px;
    left:110px;
}
#divB{
    border-radius:100%;
    min-height:40px;
    width:40px;
    background-color: rgb(219, 142, 155);
    position:absolute;
    top:290px;
    left:110px;
    }
#divC{
    border-radius:100%;
    min-height:40px;
    width:40px;
    background-color: rgb(219, 142, 155);
    position:absolute;
    top:340px;
    left:110px;
    } 
#divD{
    border-radius:100%;
    min-height:40px;
    width:40px;
    background-color: rgb(219, 142, 155);
    position:absolute;
    top:390px;
    left:110px;
    }